input {
  color: black;
  background-color: transparent;
  border-radius: 5px;
  border-width: .7px;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.user-info {
  text-align: center;
  padding-bottom: 8px;
  letter-spacing: 1px;
  h1  {
    letter-spacing: 1.5px;
  }
}

.user-repos {
  letter-spacing: 1.5px;
  h2 {
    margin-bottom: 22px;
  }
}
