#generateUser {
  margin-top: 2%;
}
input {
  color: black;
  background-color: transparent;
  border-radius: 5px;
  border-width: .7px;
  padding: 0.4em 0.4em 0.4em 0.4em;
}

.search-result {
  margin-top: 6%;
}

.user-info {
  text-align: center;
  padding-bottom: 8px;
  letter-spacing: 1px;
  h1  {
    letter-spacing: 1.5px;
  }
}

.user-repos {
  letter-spacing: 1.5px;
  h2 {
    margin-bottom: 22px;
  }
}
