// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  color: black;
  background-color: transparent;
  border-radius: 5px;
  border-width: .7px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 5px;
}
