// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  color: white;
  background-color: #0277BD;
  opacity: 0.6;
  border-radius: 5px;
  border: none;
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin-left: 5px;
  &:hover {
    background-color: #E65100;
  }
  &:focus {
    outline: none;
  }
}
