// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  color: tomato;
  font-family: 'andikaNewBasic';
}

hr {
  margin-top: 4%;
  width: 200px;
}

img {
  height: 360px;
  border-radius: 20%;
}

a {
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 400ms ease;
  &:hover {
    color: #67ADD7;
    transition: all 400ms ease;
    text-decoration: none;
    letter-spacing: 3px;
  }
}
